In [331]:
import pandas as pd

In [332]:
# Se cargan los datos. 
CollegeScoreCard=pd.read_csv('CollegeScorecard.csv', sep=',', encoding = 'utf-8')
# Cantidad de datos y número de variables
CollegeScoreCard.shape

C:\Users\Andres\AppData\Local\Temp/ipykernel_4884/1466162896.py:2: DtypeWarning: Columns (7,9,1427,1542,1561,1575) have mixed types. Specify dtype option on import or set low_memory=False.
  CollegeScoreCard=pd.read_csv('CollegeScorecard.csv', sep=',', encoding = 'utf-8')

(7804, 1725)

In [333]:
# data[data['INSTNM'].str.contains('niversity') & data["COSTT4_P"].notnull()]
# data[~data['INSTNM'].str.contains('niversity') & ~data['INSTNM'].str.contains('ollege') & ~data['INSTNM'].str.contains('nstitu')]
# data[data['INSTNM'].str.contains('niversity') | data['INSTNM'].str.contains('ollege') | data['INSTNM'].str.contains('nstitu') | data['INSTNM'].str.contains('chool') | data['INSTNM'].str.contains('enter')]
# data[~data['INSTNM'].str.contains('niversity') & ~data['INSTNM'].str.contains('ollege') & ~data['INSTNM'].str.contains('nstitu') & ~data['INSTNM'].str.contains('chool') & ~data['INSTNM'].str.contains('enter')]
# data[~data['INSTNM'].str.contains('niversity') & ~data['INSTNM'].str.contains('ollege') & ~data['INSTNM'].str.contains('nstitu') & ~data['INSTNM'].str.contains('chool') & ~data['INSTNM'].str.contains('enter') & ~data['INSTNM'].str.contains('cadem')]
# data[~data['INSTNM'].str.contains('niversity') & ~data['INSTNM'].str.contains('ollege') & ~data['INSTNM'].str.contains('nstitu') & ~data['INSTNM'].str.contains('chool') & ~data['INSTNM'].str.contains('enter') & ~data['INSTNM'].str.contains('cadem')  & ~data['INSTNM'].str.contains('CET')]
# data[data['INSTNM'].str.contains('niversity') | data['INSTNM'].str.contains('ollege') | data['INSTNM'].str.contains('nstitu') ]

In [334]:
def trans(p):
    p_mod=''
    if p == 1:
        return "PUBLIC"
    elif p == 2:
        return "PRIVATE NONPROFIT"
    else:
        return "PRIVATE FOR-PROFIT"

In [335]:
# Depuracion y eleccion de variables
data=CollegeScoreCard[CollegeScoreCard["CURROPER"]!=0]
data=data[data["DISTANCEONLY"]!=1]
data=data[["INSTNM","CONTROL","COSTT4_A","COSTT4_P","PCTPELL","UG25abv","PCIP11","PCIP14","PCIP16","PCIP26","PCIP27","PCIP42","PCIP52"]]
data=data[data["COSTT4_A"].notnull() | data["COSTT4_P"].notnull()]
data=data[data['INSTNM'].str.contains('niversity') | data['INSTNM'].str.contains('ollege') | data['INSTNM'].str.contains('nstitu') ]
data=data[data["COSTT4_A"].notnull()]
data=data[data['UG25abv'].notnull()]
data=data.drop(['COSTT4_P'],axis=1)
data["CONTROL"]=data["CONTROL"].apply(trans)
data=data.drop([2124])
data

,INSTNM,CONTROL,ADM_RATE,ADM_RATE_ALL,COSTT4_A,PCTPELL,UG25abv,PCIP11,PCIP14,PCIP16,PCIP26,PCIP27,PCIP42,PCIP52
0,Alabama A & M University,PUBLIC,0.8989,0.8989,18888.0,0.7115,0.1049,0.0348,0.1175,0.0000,0.1026,0.0199,0.0579,0.1457
1,University of Alabama at Birmingham,PUBLIC,0.8673,0.8673,19990.0,0.3505,0.2422,0.0099,0.0632,0.0090,0.0619,0.0135,0.0840,0.1765
2,Amridge University,PRIVATE NONPROFIT,NaN,NaN,12300.0,0.6839,0.8540,0.0411,0.0000,0.0000,0.0000,0.0000,0.0000,0.0685
3,University of Alabama in Huntsville,PUBLIC,0.8062,0.8062,20306.0,0.3281,0.2640,0.0273,0.2566,0.0173,0.0855,0.0218,0.0218,0.2247
4,Alabama State University,PUBLIC,0.5125,0.5125,17400.0,0.8265,0.1270,0.0450,0.0000,0.0000,0.1033,0.0183,0.0617,0.1067
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7373,Georgia Military College-Distance Learning Cam...,PUBLIC,NaN,NaN,20964.0,0.6038,0.4904,0.0265,0.0000,0.0000,0.0124,0.0008,0.0496,0.1754
7374,Brown Mackie College-Dallas,PRIVATE FOR-PROFIT,NaN,NaN,24330.0,0.7253,0.6721,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000
7378,Central Georgia Technical College,PUBLIC,NaN,NaN,8532.0,0.6738,0.5555,0.0345,0.0000,0.0000,0.0000,0.0000,0.0000,0.3525
7381,Arizona State University-Skysong,PUBLIC,0.6343,0.7626,19666.0,0.4287,0.6616,0.0000,0.0000,0.0000,0.0000,0.0000,0.1021,0.0032
7382,Louisiana Delta Community College,PUBLIC,NaN,NaN,21375.0,0.6826,0.3869,0.0407,0.0000,0.0000,0.0000,0.0000,0.0000,0.1542

In [336]:
data=data.rename(columns={'PCIP11': 'Computer_Science', 'PCIP14': 'Engineering','PCIP16': 'Linguistics', 'PCIP26': 'Biological_Science','PCIP27': 'Mathematics','PCIP42': 'Psychology','PCIP52': 'Business'})

In [337]:
# data[data["PCIP52"]==1]

In [338]:
data['CONTROL'].value_counts()

PUBLIC                1584
PRIVATE NONPROFIT     1259
PRIVATE FOR-PROFIT     904
Name: CONTROL, dtype: int64

In [339]:
data.describe()

,ADM_RATE,ADM_RATE_ALL,COSTT4_A,PCTPELL,UG25abv,Computer_Science,Engineering,Linguistics,Biological_Science,Mathematics,Psychology,Business
count,1856.000000,1931.000000,3747.000000,3747.000000,3747.000000,3747.000000,3747.000000,3747.000000,3747.000000,3747.000000,3747.000000,3747.000000
mean,0.669807,0.671761,24340.439018,0.485286,0.361186,0.043060,0.012511,0.004729,0.024639,0.005057,0.031553,0.149910
std,0.192758,0.187726,12373.111799,0.207783,0.236188,0.095056,0.052986,0.013116,0.044774,0.010082,0.061696,0.158297
min,0.000000,0.000000,4157.000000,0.000000,0.000500,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.553475,0.555300,13794.500000,0.328050,0.169550,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.045050
50%,0.687350,0.690000,22646.000000,0.453800,0.336200,0.015000,0.000000,0.000000,0.000000,0.000000,0.000000,0.118600
75%,0.809525,0.823100,30694.500000,0.639500,0.527800,0.038350,0.000000,0.003800,0.038050,0.006850,0.051950,0.195900
max,1.000000,1.000000,74473.000000,1.000000,1.000000,1.000000,0.914300,0.375600,1.000000,0.125000,0.882400,1.000000

In [340]:
universidad=data[data['INSTNM'].str.contains('niversity')]
college=data[data['INSTNM'].str.contains('ollege')]
institution=data[data['INSTNM'].str.contains('nstitu') ]

In [341]:
universidad.describe()

,ADM_RATE,ADM_RATE_ALL,COSTT4_A,PCTPELL,UG25abv,Computer_Science,Engineering,Linguistics,Biological_Science,Mathematics,Psychology,Business
count,1022.000000,1066.000000,1351.000000,1351.000000,1351.000000,1351.000000,1351.000000,1351.000000,1351.000000,1351.000000,1351.000000,1351.000000
mean,0.662220,0.661191,27473.225759,0.443124,0.313786,0.033427,0.024125,0.007101,0.040740,0.007454,0.056958,0.221859
std,0.184115,0.178069,11819.882385,0.190015,0.261082,0.077255,0.065298,0.015748,0.051075,0.009670,0.083765,0.186327
min,0.056900,0.056900,7631.000000,0.000000,0.000600,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.546450,0.549750,18847.500000,0.303850,0.107100,0.002400,0.000000,0.000000,0.000000,0.000000,0.000000,0.116950
50%,0.684250,0.677500,24096.000000,0.415200,0.233200,0.014700,0.000000,0.000000,0.033100,0.004600,0.045800,0.178100
75%,0.798175,0.784375,34026.000000,0.567850,0.446100,0.032400,0.013850,0.009850,0.059950,0.011200,0.075050,0.261800
max,1.000000,1.000000,62594.000000,1.000000,0.978300,1.000000,0.914300,0.375600,1.000000,0.086400,0.882400,1.000000

In [342]:
college.describe()

,ADM_RATE,ADM_RATE_ALL,COSTT4_A,PCTPELL,UG25abv,Computer_Science,Engineering,Linguistics,Biological_Science,Mathematics,Psychology,Business
count,652.000000,684.000000,2092.000000,2092.000000,2092.000000,2092.000000,2092.000000,2092.000000,2092.000000,2092.000000,2092.000000,2092.000000
mean,0.645679,0.657009,21704.420172,0.489908,0.364627,0.027493,0.003711,0.003803,0.017570,0.004078,0.019816,0.117565
std,0.195533,0.200656,12589.105003,0.212259,0.203160,0.052552,0.021788,0.011185,0.039845,0.010157,0.039904,0.121190
min,0.000000,0.000000,5111.000000,0.044400,0.000500,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.529625,0.532500,11924.750000,0.332175,0.229375,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.034300
50%,0.668500,0.673350,17242.500000,0.455050,0.367150,0.013900,0.000000,0.000000,0.000000,0.000000,0.000000,0.096650
75%,0.775825,0.780500,27451.250000,0.629200,0.503500,0.035900,0.000000,0.000000,0.008625,0.001225,0.019300,0.161925
max,1.000000,1.000000,74473.000000,1.000000,1.000000,0.984700,0.500000,0.105900,0.331900,0.113100,0.321400,1.000000

In [343]:
institution.describe()

,ADM_RATE,ADM_RATE_ALL,COSTT4_A,PCTPELL,UG25abv,Computer_Science,Engineering,Linguistics,Biological_Science,Mathematics,Psychology,Business
count,203.000000,210.000000,356.000000,356.000000,356.000000,356.000000,356.00000,356.000000,356.000000,356.000000,356.000000,356.000000
mean,0.790241,0.777060,27639.457865,0.625037,0.516111,0.175418,0.02282,0.000678,0.003482,0.001568,0.001315,0.061137
std,0.179907,0.154388,8862.814419,0.181271,0.245700,0.200268,0.10333,0.009826,0.016921,0.009056,0.008087,0.117219
min,0.048400,0.048400,4157.000000,0.106300,0.002400,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.684000,0.829600,25170.750000,0.537375,0.314075,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,0.846200,0.838800,27083.500000,0.670000,0.590500,0.096000,0.00000,0.000000,0.000000,0.000000,0.000000,0.015050
75%,0.936200,0.838800,29795.500000,0.747700,0.724975,0.322850,0.00000,0.000000,0.000000,0.000000,0.000000,0.083175
max,1.000000,1.000000,59724.000000,1.000000,0.921800,1.000000,0.83080,0.181800,0.133200,0.125000,0.085000,1.000000